<div class="container-fluid bg-0 text-center">
  <h1 class="title">Sort My active Life</h1>
  <hr>
  <p>Organize the SMaL things in Life
  </p>
</div>
<div class="container-fluid bg-1 text-center">
  <div class="middle">
    <h3>A daily calendar for the 2017 year</h3>
    <a class="glyphicon glyphicon-calendar begin" href="/months/1"></a>
    <br>
    <p>(Click Calendar above to go to Calendar)</p>
  </div>
</div>

<!-- <% @months.each do |month| %>
<div class="month">
  <h2><%= link_to month.name, month %>
  </h2>
  <img src="https://www.gocfs.net/image/calendarIcon.png">
</div>
<% end %> -->
