/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*.container{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 50%;
 }*/
 body{
   background-color: oldlace;
}
.container{
  display: inline-flex;
  flex-wrap: wrap;
}
.day{
  width: 175px;
  height: 125px;
  margin: 1px;
  border: 2px solid black;
}
.edit a, .edit_double a{
  text-decoration: none;
  color: firebrick;
}
.edit{
  display: inline-flex;
  font-size: 15px;
  margin: 0;
  margin-left: 115px;
}
.date{
  display: inline-flex;
  font-size: 30px;
  margin: 0px;
  margin-left: 5px;
}
.edit_double{
  margin: 0;
  display: inline-flex;
  font-size: 15px;
  margin-left: 100px;
}
.back a{
  text-decoration: none;
  color: firebrick;
}
hr{
  margin-top: 0;
  border-color: firebrick;
  border-width: medium;
}
li{
  margin-left: 5px;
}
