/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Landing page*/
.bg-0{
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  background-color: #474e5d;
  color: rosybrown;
  padding: 70px 0px 250px 0px;
  background: linear-gradient(springgreen, paleturquoise);

}
.bg-0 .title{
margin-bottom: 0;
  font-size: 46px;
}
.bg-0 hr{
  width: 600px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.bg-1{
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  color: rosybrown;
  height: 100%;
  background-color: paleturquoise;
  padding-bottom: 203px;
}
.bg-1 a{
  color: #474e5d;
  padding-right: 0;
  margin-right: 0;
  font-size: 100px;
}
.bg-1 a:hover{
  color: rosybrown;
  filter: drop-shadow(1px 3px 10px white);
  text-decoration: none;
}
.bg-1 p{
  margin-right: 25px;
}
/*Calendar Page*/
body{
   background: linear-gradient(springgreen,turquoise);
}
hr{
  margin-top: 0;
  margin-bottom: 0;
  border-color: rosybrown;
  border-width: medium;
}
li{
  margin-left: 5px;
  text-align: left;
}
.container{
  width: 100%;
  padding-bottom: 31px;
  display: inline-flex;
  flex-wrap: wrap;
}
.month_name{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 40px;
  text-align: center;
  color: rosybrown;
  background-color: turquoise;
  display: inline-block;
  margin-left: 450px;
  padding: 10px 90px;
  border: 2px solid black;
  filter: drop-shadow(1px 3px 10px black);
}
.month_name a{
  text-decoration: none;
  color: rosybrown;
}
.month a{
  color: rosybrown;
}
.month{
  text-align: center;
  display: inline-block;
}
.month img{
  height: 220px;
  width: 220px;
}
.day{
  width: 175px;
  height: 125px;
  margin: 1px;
  border: 3px inset black;
  background-color: turquoise;
  transition: 700ms;
  filter: drop-shadow(1px 3px 3px black);
}
/*.day:nth-of-type(1), .day:nth-of-type(8), .day:nth-of-type(15), .day:nth-of-type(22), .day:nth-of-type(29), .day:nth-of-type(36){
  background: linear-gradient(to right, springgreen, turquoise);
}
.day:nth-of-type(7), .day:nth-of-type(14), .day:nth-of-type(21), .day:nth-of-type(28), .day:nth-of-type(35){
  background: linear-gradient(to left, springgreen, turquoise);*/
.day:hover{
  background-color: springgreen;
}
.date{
  display: inline-flex;
  font-size: 30px;
  margin: 0;
  margin-left: 5px;
}
.edit{
  display: inline-flex;
  font-size: 15px;
  margin: 0;
  margin-left: 115px;
}
.edit_double{
  margin: 0;
  display: inline-flex;
  font-size: 15px;
  margin-left: 100px;
}
.edit a, .edit_double a{
  text-decoration: none;
  color: rosybrown;
}
.back a{
  margin-left: 20px;
  text-decoration: none;
  color: #474e5d;
  font-size: 25px;
}
.back{
  transform: scale(1, 1.7);
}
.back a:hover{
  color: rosybrown;
  filter: drop-shadow(1px 3px 10px white);
}
.content{
  color: rosybrown;
}
